

.imgLanding{
 
    max-width: 80%;
  

}

p{
    font-size: 20px;
}

.imgMobile{
    max-width: 50%;
}
.sectionTitleApp{
    background-color: rgba(229, 229, 229, 0.35);

}

@media screen and (max-width: 1200px) {
    .articleApp {
      
      flex-direction: column-reverse;

    }
    .googleMap{
        width: 100% !important;
    }
  }


.iconCustomer
{
    
    width: 5em;
    height: 5em;
}

.adressCustomer{
    align-items: center;
}